		<style type="text/css">
			/* 
			* HTML Invoice
			* The following rules define the styling of the html version of the invoice 
			*/

			.body {
				background: #ffffff;
				color: #000000;
				margin: 0px auto;
				position: relative
			}

			.cb-page {
				background: #ffffff;
				color: #000000;
				font-family: Arial;
				font-size: 12px;
				margin: 0px auto;
				padding: 30px 30px 30px 30px;
				position: relative;
				width: 800px;
			}

			.cb-page a {
				color: #663366;
				text-decoration: none;
			}

			.cb-page a:hover {
				color: #663366;
				text-decoration: underline;
			}

			.cb-page ul, .cb-page ol {
				list-style: none;
				margin: 0px !important;
				padding: 0px !important;
			}

			.cb-page ul li, .cb-page ol li {
				margin: 0px 0px 4px 0px;
			}

			.cb-page ul li label, .cb-page ol li {
				font-weight: 600;
			}

			.cb-page h2.cb-title {
				color: #663366 !important;
				font-size: 20px !important;
			}

			.cb-page h3.cb-title {
				color: #663366;
				font-size: 15px !important;
			}

			/* Document Header */

			.cb-page .cb-header {
				position: relative;
				overflow: hidden;
				word-wrap:break-word;
				min-height: 150px;
                border-bottom-style: solid;
                border-bottom-color: #663366
			}

			/* Document Details */

			.cb-page .cb-document-details-wrapper {
				float: right;
				text-align: right;
                height: inherit;
                width: 160px;
 			}

			.cb-page h1.cb-document {
				color: #663366 !important;
				font-size: 25px !important;
				margin: 0px 0px 0px 0px !important;
				padding: 0px !important;
			}

			.cb-page ul.cb-invoice-info {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    text-wrap:none;
			}

			/* Company Contact Details */

			.cb-page .cb-company-logo {
				display: block;
				float: left;
				margin: 0px 30px 0px 0px;
				position: relative;
				width: 150px;
                top: 0px;
				left: 0px;
			}

			.cb-page .cb-company-contact-wrapper {
				display: none;
                float: left;
				position: relative;
				top: 0px;
				left: 0px;
			}

			.cb-page h2.cb-company-name {
				margin: 0px 0px 0px 0px;
			}

			.cb-page ul.cb-company-contact {

			}

			.cb-page ul.cb-company-contact li.cb-address label {
				display: none;
			}

			.cb-page ul.cb-company-contact li.cb-phone {
				float: left;
				margin: 0px 0px 0px 0px;
			}

			/* Customer Contact Details */

			.cb-page ul.cb-customer-contact {
				margin: 35px 0px 35px 150px !important;
			}

			.cb-page ul.cb-customer-contact li.cb-address {
				float: left;
			}

			.cb-page ul.cb-customer-contact li.cb-invoice-ref,
			.cb-page ul.cb-customer-contact li.cb-phone, 
			.cb-page ul.cb-customer-contact li.cb-email,
			.cb-page ul.cb-customer-contact li.cb-fax {
				text-align: right;
			}

			.cb-page ul.cb-customer-contact li.cb-address address {
				font-style: normal;
				margin: 0px 0px 30px 0px;
			}

			.cb-page p.cb-tax label {
				font-weight: normal;
			}

			/* Invoice Summary */

			.cb-invoice-summary { 
				clear: both;
                margin-left: 150px;
			}

			.cb-invoice-summary h3.cb-summary { }

			.cb-invoice-summary p.cb-summary-text { }

			/* Invoice Items */

			.cb-page table.cb-invoice-items {
				background: #ffffff;
				border-collapse: collapse;
				margin: 20px 0px 10px 150px;
				padding: 0px;
				width: auto;
			}

			.cb-page table.cb-invoice-items thead {
				background: #663366;
				color: #ffffff;
			}

			.cb-page table.cb-invoice-items thead tr th {
				font-size: 12px;
				border: 0px solid #663366;
				text-transform: uppercase;
				font-weight: 400;
				padding: 4px 6px;
				text-align: right;
			}

			.cb-page table.cb-invoice-items thead tr th.cb-desc {
				text-align: left;
			}

			.cb-page table.cb-invoice-items tbody tr td {
				font-size: 12px;
				border: 0px solid #663366;
				padding: 4px 6px;
				text-align: right;
			}

			.cb-page table.cb-invoice-items tbody tr td.cb-desc {
				text-align: left;
				vertical-align: top;
			}

			.cb-page table.cb-invoice-items thead tr th.cb-qty {
				width: 6%;
			}

			.cb-page table.cb-invoice-items thead tr th.cb-unitprice {
				width: 12%;
			}

			.cb-page table.cb-invoice-items thead tr th.cb-net, table.cb-invoice-items thead tr th.cb-vat {
				width: 10%;
			}

			.cb-page table.cb-invoice-items thead tr th.cb-amount {
				width: 12%;
			}

			.cb-page table.cb-invoice-items tbody tr.cb-item {
				background: #ffffff;
				color: #000000;
			}

			.cb-page table.cb-invoice-items tbody tr.cb-item.alt {
				background: #ffffff !important;
				color: #000000 !important;
			}

			.cb-page table.cb-invoice-items tfoot tr.cb-total {
				background: ;
				color: ;
			}

			.cb-page table.cb-invoice-items tfoot tr td {
				font-size: 12px;
				padding: 4px 6px;
				text-align: right;
				vertical-align: bottom;
			}

			.cb-page table.cb-invoice-items tfoot tr td label {
				text-transform: uppercase;
			}

			.cb-page table tfoot tr td.cb-whitespace {
				padding: 5px;
			}

			.cb-page table.cb-invoice-items tfoot tr.cb-total td.cb-total {
				font-weight: 700;
			}


            .cb-page .cb-invoice-settlement-discount {
                margin-left: 150px
            }
			/* Payment History */

			.cb-page table.cb-payments {
				background: #ffffff;
				border-collapse: collapse;
				margin: 20px 0px 10px 150px !important;
				padding: 0px;
				width: auto;
                display: none;
			}

			.cb-page h2.cb-payment-history {
				margin-bottom: -5px !important;
                margin-left: 150px;
                display: none;
			}

			.cb-page table.cb-payments thead {
				background: #663366;
				border: 0px solid #663366;
				color: #ffffff;
			}

			.cb-page table.cb-payments thead tr th {
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 400;
				padding: 4px 6px;
				text-align: left;
			}

			.cb-page table.cb-payments thead tr th.cb-amount {
				text-align: right;
			}

			table.cb-payments tbody tr td {
				border: 0px solid #663366;
				font-size: 12px;
				padding: 4px 6px;
				text-align: left;
			}

			.cb-page table.cb-payments tbody tr td.cb-amount {
				text-align: right;
			}

			.cb-page table.cb-payments tbody tr.cb-payment {
				background: #ffffff;
				color: #000000;
			}

			.cb-page table.cb-payments tbody tr.cb-payment.alt {
				background: #ffffff;
				color: #000000;
			}

			.cb-page table.cb-payments tfoot tr {
				background: #ffffff;
				color: #000000;
			}

			.cb-page table.cb-payments tfoot tr td {
				font-size: 12px;
				padding: 4px 6px;
				text-align: right;
				vertical-align: bottom;
			}

			.cb-page table.cb-payments tfoot tr td label {
				font-weight: 600;
				text-transform: uppercase;
			}

			/* Payment Advice */

			.cb-page .cb-footer {
				margin: 30px 0px 0px 0px;
				padding: 10px 0px 0px 0px;
			}

			.cb-page .cb-footer-text {
				margin: 0px 0px 8px 150px !important;
			}

			.cb-page h2.cb-payment-advice {
				margin: 10px 0px 10px 150px;
			}

			.cb-page ul.cb-payment-methods {
				clear: both;
				margin: 30px 0px 0px 150px!important;
			}

			.cb-page ul.cb-payment-methods li.cb-method {
				font-size: 12px;
				float: left;
				margin: 0px 20px 0px 0px;
				width: 240px;
			}

			.cb-page .cb-payment-methods li.cb-method:last-child {
				margin: 0px 0px 30px 0px;
			}

			.cb-page .cb-registered-office {
				clear: both;
				font-size: 12px;
				margin: 0px 0px 0px 0px;
				padding: 0px 00px 0px 0px;
				text-align: right;
                border-top-style: solid;
                border-top-color: #663366;
			}

            .cb-net, .cb-vat, .cb-amount, .cb-unitprice {
                white-space: nowrap;
            }

			/* 
			* PDF Invoice
			* The following rules define the styling of the pdf version of the invoice 
		    */

			/* Page Settings */

			@media print {
				.cb-page .cb-registered-office {
					display: none;
				}

				meta[name="companyreg"] {
					string-set: companyreg attr(content); /* Get the contents from the meta tag and save to string called companyreg */
				}

				@page {
					background: #ffffff;
					color: #000000;
					font-family: Arial;
					font-size: 12px;
					margin: 0.6cm 1cm 2.5cm 1cm;
					size: A4 portrait;
					@bottom-center {
						content: string(companyreg) " (Page " counter(page) " of " counter(pages) ")"; /* Load contents for company_reg into the page footer */
						font-size: 7pt;
						text-align: center;
					}
				}

				html, body {
					background: #ffffff;
				}

				#save_pdf {
					display: none !important;
				}

				.cb-page {
					background: none;
					margin: 0px;
					padding: 0px;
					page-break-before: always;
					width: 100%;
				}

				.cb-page h2.cb-company-name {
					margin: 0px 0px 15px 0px;
				}

				.cb-page .cb-company-contact-wrapper {
					width: 320px;
				}

				.cb-page ul.cb-customer-contact li.cb-address address {
					margin-left: 30px;
				}

				.cb-page ul.cb-payment-methods li.cb-method {
					width: 210px;
				}

				.cb-page .cb-footer {
					float: bottom;
				}
			}
		</style>}